<div th:fragment="sidebar">
  <div class="col-md-2">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
      <span class="fs-4">Accounting</span>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/incomeExpense" class="nav-link active" aria-current="page">
            Incomes/Expenses
          </a>
        </li>
        <hr>
        <li>
          <a href="/logout" class="nav-link link-body-emphasis">
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>